body {
  font-family: 'Lato', sans-serif;
  padding-top: 164px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer-wrap {
  flex: 0 0 auto;
}

.container {
  width: $width-site;
  margin: 0 auto;
}

.fixed-top {
  //фиксация сверху
  position: fixed;
  //display: flex;
  //align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  //height: 100vh;
  z-index: 99;

  background-color: #ffffff;
  opacity: 0.9;
}

.header {
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  height: 100px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header-left {
  display: flex;
}

.logo {
  text-decoration: none;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  color: #222222;
  display: flex;
  position: relative;
  align-items: center;
  width: 160px;
  transition: 1s;
}

.logo img {
  padding-right: 8px;
}

.pink-letter {
  color: #f16d7f;
  font-weight: 900;
}

.logo:hover {
  filter: brightness(105%);
  transform: rotate(360deg);
  transition: 1s;
}

.header-form {
  display: flex;
  position: relative;
  margin-left: 37px;
  align-items: center;
}

.browse {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}

.browse-text {
  border: 1px solid #e6e6e6;
  list-style-type: none;
  position: relative;
  left: -1px;
  top: -4px;
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  text-align: left;
  line-height: 2.2;
  padding-bottom: 15px;
}

.browse-text:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 61px;
  transform: rotate(45deg);
  background-color: #fff;
}

.browse-text li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #4f4f4f;
  margin-left: 20px;
}

.browse-text li a:hover {
  color: #f16d7f;
  font-weight: 600;
}

.browse-text li a:active {
  color: red;
}

.browse-text li p {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 15px;
}

.browse-summary {
  display: block;
  height: 38px;
  outline: none;
}

.browse-summary:hover {
  color: #f16d7f;
}

.browse-summary::-webkit-details-marker {
  display: none;
}

.browse-summary::after {
  content: url(../img/browse.png);
  padding-left: 0.5em;
}

.browse[open] > summary::after {
  content: url(../img/browse.png);
}

.search {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 317px;
  height: 38px;
  padding-right: 38px;
  padding-left: 10px;
  outline: none;
}

.search:invalid {
  color: red;
}

input::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}

.button-form {
  position: absolute;
  right: 0;
  height: 38px;
  width: 38px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
}

.cart {
  position: relative;
  padding: 15px;
}

.cart:hover img[src="img/cart.svg"], .cart > form img:hover {
  transform: scale(1.2);
}

.cart img:active {
  filter: saturate(200%);
  z-index: 1;
}

.cart-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 103px;
  transform: rotate(45deg);
  background-color: #fff;
}

.cart-box {
  display: none;
  width: 230px;
  padding: 20px 16px;
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  left: -77px;
  top: 60px;
  border: 1px solid #ededed;
  z-index: 9;
}

.cart:hover .cart-box {
  display: inline-block;
  overflow: auto;
  height: 80vh;
}

.cart-flex {
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;
}

.rebox-zane p {
  margin-top: 5px;
  margin-left: 15px;
}

.rebox-zane p:first-of-type {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
}

.rebox-zane:hover p:first-of-type {
  color: #f16d7f;
}

.rebox-zane p:nth-of-type(2) {
  font-size: 12px;
  color: #e4af48;
}

.rebox-zane p:nth-of-type(3) {
  font-size: 12px;
  color: #f16d7f;
}

.rebox-zane p:nth-of-type(4) a {
  text-decoration: none;
  color: #c0c0c0;
}

.rebox-zane p:nth-of-type(4) a:hover {
  color: #f16d7f;
}

.rebox-zane p:nth-of-type(4) a:active {
  color: red;
}

.rebox-zane p:nth-of-type(4) {
  font-size: 16px;
  position: absolute;
  top: 30px;
  right: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 32px;
}

.cart-button-checkout {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #f16d7f;
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
}

.cart-button-go-to-cart {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 11px;
}

.cart-button-checkout:hover {
  background-color: #f16d7f;
  color: #ffffff;
  border-radius: 3px;
}

.cart-button-go-to-cart:hover {
  color: #f16d7f;
  background-color: rgba(216, 216, 216, 0.51);
  border-radius: 3px;
}

.cart-box button:active {
  background-color: red;
  color: black;
}

.button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: #f16d7f;
  padding-right: 19px;
  padding-left: 19px;
  line-height: 38px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.button img, .browse img {
  padding: 0 0 1px 6px;
}

.button:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

.button:hover img {
  filter: brightness(60%)
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  list-style-type: none;
  position: relative;
}

.menu > li > a {
  text-decoration: none;
  color: #222222;
  padding: 19px 23px 15px 23px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  display: block;
  border-bottom: 4px solid transparent;
}

.menu > li > a:hover {
  border-bottom: #f16d7f solid 4px;
}

.menu a:active {
  color: #f16d7f;
}

.mega-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px 25px;
  position: absolute;
  display: none;
  border: 1px solid #e8e8e8;
  top: 50px;
  left: -90px;
  z-index: 3;
}

.menu > li:hover .mega-box {
  display: flex;
}

.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 133px;
  transform: rotate(45deg);
  background-color: #fff;
}

.menu li:nth-child(2) .mega-box:before {
  top: -7px;
  left: 123px;
}

.menu li:nth-child(4) .mega-box:before {
  top: -7px;
  left: 122px;
}

.mega-flex {
  width: 235px;
  margin-right: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mega-flex:last-of-type {
  margin-right: 0;
}

.mega-flex a:hover {
  color: #f16d7f;
  font-weight: 600;
}

.mega-heading {
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #232323;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.mega-link {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #646464;
  text-decoration: none;
}

.mega-img {
  position: relative;
}

.mega-img:hover {
  transform: scale(1.1);
}

.mega-img img {
  position: absolute;
  bottom: 5px;
  left: -20px;
}

.mega-img div {
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 0.6px;
  color: #ffffff;
  top: -61px;
  right: 10px;
}

.slider {
  background-color: #e8e8e8;
  height: 614px;
}

.slider-back {
  background: url(../img/slider.jpg) -195px -51px;
  height: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.slider-back > div {
  margin-bottom: 70px;
}

.slider-back > div:first-child {
  background-color: #f16d7f;
  width: 12px;
  height: 92px;
  margin-right: 12px;
}

.slider-text {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
}

.slider-text div:nth-child(2) {
  float: left;
  font-size: 40px;
  line-height: 50px;
}

.slider-text div:nth-child(3) {
  float: left;
  color: #f16d7f;
  font-size: 40px;
  transform: scaleY(1.0009);
  padding-left: 8px;
  line-height: 50px;
}

.badges {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}

.badge {
  padding: 8px 0;
  display: block;
  position: relative;
}

.badges-left {
  display: flex;
  flex-direction: column;
}

.badges-right {
  display: flex;
  flex-direction: column;
}

.badge-name:hover {
  background-color: beige;
}

.badge-name {
  position: absolute;
  z-index: 1;
  top: 25px;
  background-color: #ffffff;
  padding: 10px 15px;
}

.badge-name a {
  text-decoration: none;
}

.badge-name div:first-child {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
}

.badge-name div:last-child {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
}

.product-text h2 {
  text-align: center;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
}

.product-text h3 {
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
}

.product-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parent-product {
  display: block;
  position: relative;
  margin: 20px 0;
}

.product-link-flex {
  width: 263px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 98px;
}

.add-to-cart {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.parent-product:hover .add-to-cart, .parent-product:hover .stars {
  opacity: 1;
}

.add-to-cart img {
  padding-right: 5px;
}

.add-to-cart:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border-color: #f16d7f;
  font-weight: 600;
}

.add-to-cart:hover img {
  filter: brightness(60%)
}

.product {
  margin: 30px 0;
  text-decoration: none;
  color: #222222;
}

.description-product {
  font-size: 13px;
  font-weight: 400;
  margin: 15px;
}

.price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  margin: 15px;
}

.parent-product:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.parent-product:hover .product, .new-arrivals-man:hover > a:first-of-type {
  filter: brightness(50%);
}

.browse-all {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.offer-30 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  color: #ffffff;
  font-size: 53.62px;
  font-weight: 700;
  width: 295px;
  margin: 146px 0 0 40px;
  text-decoration: none;
}

.offer-30:hover {
  color: #f16d7f;
}

.offer-30 div:nth-child(2) {
  color: #f16d7f;
  padding-left: 10px;
}

.offer-30:hover div:nth-child(2) {
  color: #ffffff;
}

.offer-30 div:last-child {
  font-size: 32.17px;
}

.offer {
  display: flex;
  background-color: #222224;
  max-height: 529px;
  color: #ffffff;
  margin: 90px auto;
}

.offer-text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: Lato;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  filter: brightness(85%);
}

.offer-text-icon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.offer-text-icon img {
  margin: 0 35px;
  transition: 1s;
}

.offer-text-icon img:hover {
  filter: contrast(300%);
  transform: rotate(360deg);
}

.offer-text-text {
  width: 220px;
}

.offer-text-text div {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 17px;
}

.offer-text-text:hover div {
  color: #f16d7f;
}

.offer-img {
  display: block;
  position: relative;
}

.offer-img img:last-child {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.offer-img:hover img:last-child {
  opacity: 0.2;
  filter: brightness(30%);
}

.subscribe-box {
  height: 438px;
  background-repeat: no-repeat;
}

.subscribe-background {
  width: 100%;
  opacity: 0.5;
  height: 438px;
  background: rgba(242, 242, 242, 0.5) url(../img/subscribe-background.jpg) no-repeat center;
}

.subscribe-flex {
  position: relative;
}

.subscribe {
  display: flex;
  position: absolute;
  top: -438px;
  height: 438px;
}

.subscribe-left {
  display: flex;
  flex-direction: row;
  border-right: 1px solid #e6e6e6;
  width: 50%;
}

.subscribe-left img {
  margin-top: 111px;
  transition: 1s;
}

.subscribe-left img:hover {
  transform: scale(1.2);
}

.subscribe-left > div:nth-child(2) {
  margin: 123px 60px 0 28px;
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}

.subscribe-left div p:nth-child(2) {
  margin-top: 10px;
  color: #f16d7f;
  font-weight: 700;
  font-style: normal;
}

.subscribe-left div p:nth-child(3) {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  font-style: normal;
}

.subscribe-left-line {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.subscribe-left-line div {
  background-color: #d6d6d6;
  width: 38px;
  height: 4px;
  margin: 40px 13px 0 0;
}

.subscribe-left-line div:nth-of-type(2) {
  background-color: #f16d7f;
}

.subscribe-left-line:hover div:nth-of-type(2) {
  background-color: #d6d6d6;
}

.subscribe-left-line div:hover {
  background-color: #f16d7f;
}


.subscribe-right {
  width: 50%;
}

.subcribe-right-box {
  margin: 148px 0 0 104px;
  text-align: center;
  width: 420px;
}

.subcribe-right-box > p {
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.subcribe-right-box > p:nth-child(2) {
  font-size: 14px;
  line-height: 1.5;
}

.email-button {
  border: 0px;
  background-color: #e1e1e1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 35px;
}

.email-button button {
  outline: none;
}

#email {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 46px;
  width: 282px;
  background-color: #e1e1e1;
  border: 0px;
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  padding-left: 28px;
  outline: none;
}

.email-button button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 46px;
  width: 104px;
  font-family: Lato;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #f16d7f;
  border: 0px;
}

.email-button button:active {
  color: red;
}

.brand {
  display: flex;
  margin-top: 109px;
  margin-bottom: 89px;
  justify-content: space-between;
  background-repeat: no-repeat;
}

.brand-info p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 24px 22px 0 0;
}

.brand-info .logo {
  display: block;
}

.brand-menu {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 63px;
  min-width: 175px;
}

.brand-menu p {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 33px 0;
}

.brand-menu a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  margin: 10px 0;
}

.brand-menu a:hover {
  color: #f16d7f;
  font-weight: 600;
}

footer {
  display: flex;
  background-color: #e6e6e6;
  height: 79px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > div:first-child {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  word-spacing: 2px;
}

.social {
  display: flex;
}

.social > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin: 0 4px;
}

.social img[src="img/twitter.png"] {
  filter: brightness(70%)
}

.social > a:hover {
  background-color: #f16d7f;
}

.social > a:hover img {
  filter: contrast(300%);
}


/*product page*/


.new-arrivals {
  background-color: #f8f3f4;
  margin-bottom: 59px;
}

.new-arrivals-flex {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals h1 {
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  color: #f16d7f;
}

.new-arrivals a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #636363;
  margin: 0 5px;
}

.new-arrivals a:last-of-type, .new-arrivals a:hover {
  font-weight: bold;
  color: #f16d7f;
}

.new-arrivals-product-flex {
  display: flex;
  justify-content: space-between;
}

.new-arrivals-menu {
  margin-bottom: 18px;
  margin-right: 49px;
}

.new-arriwals-summary {
  width: 243px;
  border-left: 5px solid #ef5b70;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: #6f6e6e;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.new-arriwals-summary::-webkit-details-marker {
  display: none;
}

.new-arriwals-summary .icon-down-dir {
  position: absolute;
  right: 3px;
}

.new-arriwals-summary .icon-up-dir {
  position: absolute;
  right: 3px;
  top: 10px;
  display: none;
}

.new-arrivals-menu[open] > summary .icon-up-dir {
  display: block;
}

.new-arrivals-menu[open] > summary {
  color: #ef5b70;
}

.new-arrivals-menu[open] > summary .icon-down-dir {
  display: none;
}

.new-arrivals-punkt {
  list-style-type: none;
  padding: 4px 12px;
}

.new-arrivals-punkt li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 2.36;
  color: #6f6e6e;
}

.new-arrivals-punkt li a:hover {
  color: #ef5b70;
  font-weight: 600;
}

.new-arrivals-switches {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6f6e6e;
}

.new-arrivals-switches h3 {
  margin-bottom: 25px;
  font-weight: bold;
}

.new-arrivals-trending {
  margin-right: 115px;
}

.new-arrivals-trending div {
  display: flex;
}

.new-arrivals-trending div:first-of-type {
  margin-bottom: 5px;
}

.new-arrivals-trending div a {
  text-decoration: none;
  color: #6f6e6e;
}

.new-arrivals-trending div a:hover {
  color: #ef5b70;
  font-weight: 400;
}

.new-arrivals-trending div a:nth-last-of-type(2) {
  margin: 0 12px;
  padding: 0 12px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.new-arrivals-size {
  width: 237px;
}

.new-arrivals-size fieldset {
  border: none;
}

.new-arrivals-size label {
  font-family: 'Open Sans', sans-serif;
  width: 57px;
  display: inline-block;
  margin-bottom: 6px;
}

.new-arrivals-price {
  width: 262px;
  margin-left: 30px;
}

//Заменено на jQuery UI Slider/////////////////////////////////////
.new-arrivals-price-range {
  height: 6px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.new-arrivals-price-range > div {
  width: 124px;
  height: 6px;
  background-color: #f16d7f;
  margin-left: 31px;
  position: relative;
}

.new-arrivals-price-range > div:hover {
  filter: brightness(90%);
}

.new-arrivals-price-range > div::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 100px;
  top: -4px;
  left: -3px;
}

.new-arrivals-price-range > div::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 100px;
  top: -4px;
  right: -6px;
}

.new-arrivals-price-range > div:hover::after, .new-arrivals-price-range > div:hover::before {
  content: "";
  width: 15px;
  height: 15px;
}

.new-arrivals-price > div:last-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  font-family: OpenSans;
}

//^Заменено на jQuery UI Slider     ////////////////////////////////

.new-arrivals-sort {
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  margin: 30px 0 48px 0;
}

.new-arrivals-sort .select-gender:last-of-type {
  width: 119px;
}

.new-arrivals-sort .select-gender:last-of-type select {
  width: 60.5px;
  padding-left: 13px
}

.select-gender label {
  margin: 0 11px;
}

.select-gender select {
  border-radius: 0;
  background: transparent;
  height: 30px;
  width: 83px;
  border: 0;
  line-height: 1;
  -webkit-appearance: none;
  color: #6f6e6e;
  font-family: Lato;
  border-left: solid 1px #ebebeb;
  padding-left: 13px
}

.select-gender {
  border: 1px solid #CCC;
  overflow: hidden;
  height: 30px;
  width: 153px;
  font-size: 14px;
  color: #6f6e6e;
  font-family: Lato;
  background-color: #fff;
  position: relative;
  margin-left: 10px;
}

.select-gender i {
  position: absolute;
  z-index: 3;
  top: 6px;
  right: 6px;
}

.new-arrivals-man-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-arrivals-man {
  display: block;
  position: relative;
  margin: 0 0 24px 0;

}

.new-arrivals-man p:first-of-type {
  font-size: 13px;
  color: #6f6e6e;
  text-transform: uppercase;
  padding: 19px 15px;
}

.new-arrivals-man p:last-of-type {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  padding: 0 15px 0 15px;
  margin-bottom: 24px;
}

.new-arrivals-man a {
  text-decoration: none;
}

.new-arrivals-man:hover .product-link-flex .add-to-cart {
  opacity: 1;
}

.add-to-cart-arrivals-man {
  position: absolute;
  top: -14px;
  padding: 10px 11px;
  padding-right: 13px;
}

.add-to-cart-update {
  position: absolute;
  top: 39px;
  left: 62px;
  padding: 13px 17px;
  padding-left: 18px;
}

.add-to-cart-heart {
  position: absolute;
  top: 39px;
  right: 63px;
  padding: 10.5px 17px;
  padding-left: 19px;
}

.stars {
  opacity: 0;
  position: absolute;
  right: 12px;
  bottom: 24px;
  font-size: 15px;
  color: #e4af48;
}

.stars i:hover {
  font-size: 20px;
  filter: saturate(300%);
}

.new-arrivals-listen-view {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 110px 0;
}

.new-arrivals-listen {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

.new-arrivals-listen a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #c4c4c4;
  padding-right: 15px;
}

.new-arrivals-listen a:nth-of-type(7) {
  padding-right: 0;
}

.new-arrivals-listen a:first-of-type, .new-arrivals-listen a:last-of-type {
  font-size: 12px;
  color: #aaaaaa;
}

.new-arrivals-listen a:nth-of-type(2) {
  color: #ef5b70;
}

.new-arrivals-listen a:hover {
  color: #ef5b70;
  font-weight: 600;
}

.new-arrivals-view {
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #ef5b70;
  padding: 13px 46px;
}

.new-arrivals-view:hover {
  filter: saturate(105%);
  color: #ffffff;
  background-color: #ef5b70;
}

.new-arrivals-view:active {
  filter: invert(10%);
}

.new-arrivals-offer {
  background-color: #222224;
}

.new-arrivals-icon {
  width: 315px;
  margin-bottom: 99px;
}

.new-arrivals-offer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-arrivals-icon div:first-of-type {
  text-align: center;
  margin: 89px 0 20px 0;
}

.new-arrivals-offer-box > div:nth-of-type(2):nth-of-type(2) {
  margin-bottom: 104px;
}

.new-arrivals-icon div p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fbfbfb;
}

.new-arrivals-icon div p:last-of-type {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fbfbfb;
}

.new-arrivals-icon > div > p:first-of-type {
  margin-bottom: 15px;
}

.new-arrivals-icon img {
  transition: 1s;
}

.new-arrivals-icon img:hover {
  filter: contrast(300%);
  transform: rotate(360deg);
}

.new-arrivals-icon div:hover p:first-of-type {
  color: #ef5b70;
}
