@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

header {
    height: 150px;
}

a {
    text-decoration: none;
    color: #222;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    min-height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-right,
.header-left {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__search {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 3px 3px 3px 3px;
    height: 38px;
}

.header__search input {
    height: inherit;
    outline: none;
    overflow: hidden;
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    width: 279px;
}

.header__search button {
    width: 35px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: 0;
    background-color: #fff;
}

.search__browse {
    width: 87px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    justify-content: center;

}

.search__browse-text {
    color: #222;
    margin-right: 8px;
    font-weight: 400;
}

.header__input:focus {
    color: black;
    padding: 18px;
}

.header__input:placeholder-shown {
    padding-left: 18px;
}

.fa-caret-down {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #838383;
}

.fa-caret-down:hover .dropdown__menu {
    top: 62px;
    height: 530px;


}

/*-----dropdown menu------------*/

.dropdown__menu {
    width: 262px;
    height: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: auto;
    position: absolute;
    top: -650px;
    transition: top 0.7s ease-out 0.2s;

}

.dropdown__menu h1 {
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    margin: 0;
    margin-left: 30px;
}

.dropdown__menu_line {
    width: 236px;
    height: 1px;
    background-color: #e8e8e8;
    margin-left: 15px;
}

.dropdown__menu_list {
    list-style-type: none;
}

.dropdown__menu_item a{
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
}

.dropdown__menu_list li a:hover {
    color: #f16d7f;
}

/*---------------------------*/

.fa-search {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.header-line {
    border-bottom: 1px solid #ececec;
}

.topNav {
    min-height: 51px;
    font-size: 14px;
    font-weight: 700;
}

.topNav .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.topNav a {
    text-transform: uppercase;
}

.topNav a:hover {
    color: #f16d7f;
}

.topNav > .menu-list > li:not(last-child) {
    margin-right: 48px;
}

.topNav ul:hover .mega__menu {
    left: 500px;
}
    
/*-----mega__menu-----*/

.mega__menu {
    width: 846px;
height: 310px;
background-color: #ffffff;
border-radius: 5px;
    position: absolute;
    display: flex;
    cursor: auto;
    left: -850px;
    transition: left 0.7s ease-out 0.2s;
}

.mega__menu_column h1 {
    font-family: Lato;
font-size: 14px;
line-height: 32px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #232323;
    margin: 0;
    margin-left: 40px;
}

.mega__menu_line {
    width: 235px;
height: 1px;
background-color: #e8e8e8;
    margin-left: 40px;
    margin-bottom: 10px;
}

.mega__menu_list {
    list-style-type: none;
}

.mega__menu_item a{
    font-family: Lato;
font-size: 14px;
line-height: 28px;
font-weight: 400;
letter-spacing: 0.025em;
color: #646464;
    text-transform: capitalize;
}

.mega__menu_list li a:hover {
    color: #f16d7f;
}

.mega__menu_img {
    width: 255px;
height: 118px;
    background-image: url(img/mega_menu.png);
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 20px;
}

.mega__menu_imgText {
    width: 71px;
    height: 45px;
   font-family: Lato;
font-size: 22px;
line-height: 28px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #ffffff; 
    margin-right: 10px;
    margin-bottom: 15px;
}


.brand-logo {
    display: flex;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;

}

.brand-logo span {
    font-weight: 900;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.logo1 {
    margin-right: 13px;
}

.logo2 {
    margin-right: 37px;
    margin-top: 15px;
}

.header__cart {
    width: 32px;
    height: 29px;
    margin-right: 26px;
}

.header__account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

.header__account:hover {
    background-color: #CD5C5C;
    transition-duration: 0.3s;
}

.header__account-text {
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 19px;
    margin-right: 8px;

}

.header__account .fa-caret-down {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

/* --------------------header end------------*/
.text-description {
    display: flex;
    overflow: hidden;
}

.slider {
    background-color: #e8e8e8;
    width: 100%;
    height: 614px;
}

.brand {
    height: 614px;
    background-image: url(img/slider.png);
    background-position: right;
    background-repeat: no-repeat;

}

.red-line {
    margin-top: 240px;
    margin-right: 12px;
    width: 12px;
    height: 92px;
}

.slider-text {
    text-transform: uppercase;
    margin-top: 225px;
    line-height: 13px;
}

.brand-text {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.luxFashion {
    font-family: Lato;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.luxFashion span {
    font-family: Lato;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

p {
    margin: 0;
    padding: 0;
}

.category__men {
    background-image: url(img/banner1.png);
    width: 560px;
    height: 542px;
    margin-right: 15px;
}

.category__accessories {
    background-image: url(img/banner2.png);
    width: 560px;
    height: 261px;
}

.category__women {
    background-image: url(img/banner3.png);
    width: 560px;
    height: 261px;
}

.category__kids {
    background-image: url(img/banner4.png);
    width: 560px;
    height: 542px;
}

.category {
    height: 823px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 98px;
}

.upperText {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.lowerText {
    font-family: Lato;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.deal-men {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 25px;
}

.deal-text {
    margin-left: 19px;
    margin-top: 16px;
    position: absolute;
}

.deal-accessories {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 25px;
}

.deal-women {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 25px;
}

.deal-kids {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 25px;
}

.featuredItems {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    height: 51px;
}

.featuredItems__head {
    font-family: Lato;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    margin: 0;
    line-height: 20px;

}

.featuredItems__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;

}

.item__info {
    margin-top: 19px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.item__info_name {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
}

.item__info_price {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.catalogue {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.item {
    margin-bottom: 39px;
    transition-duration: 0.3s;
}

.item:hover {
    box-shadow: 0 0 15px #a4a4a4;
    transition-duration: 0.3s;
}

.item-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 280px;
    position: relative;
    background-color: rgba(58, 56, 56, 0.8);
    opacity: 0;
}

.item:hover .item-hover {
    opacity: 1;

}

.item__photo {
    position: absolute;
}

.addCart {
    display: flex;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.addCart:hover {
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

.item-cart {
    width: 23px;
    height: 22px;
    color: #ffffff;
    margin-right: 10px;
}

.addCart_text {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.browseProducts {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    display: flex;
    justify-content: center;
    margin: auto;
    transition-duration: 0.3s;
}

.browseProducts:hover {
    background-color: #CD5C5C;
    transition-duration: 0.3s;
}

.browseProducts__text {
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.fa-long-arrow-alt-right {
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 20px;
}

.womenOffer {
    display: flex;
    margin-top: 113px;
    margin-bottom: 97px;
}

.womenOffer__left {
    width: 767px;
    height: 529px;
    background-image: url(img/womenOffer.png);
    background-blend-mode: darken;
    background-color: #9b9da2;

}

.womenOffer__right {
    width: 373px;
    height: 529px;
    background-color: #020305;
}

.womenOffer__left_text {
    width: 293px;
    height: 78px;
    margin-top: 146px;
    margin-left: 39px;
}

.upperOffer {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;

}

.upperOffer span {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-left: 20px;
    text-transform: uppercase;
}

.lowerOffer {
    font-family: Lato;
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.upperOffer_right {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.lowerOffer_right {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    width: 219px;
    height: 58px;
}

.womenOffer__right {
    display: flex;
}

.right_photo {
    width: 50px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 36px;
}

.right_text {
    width: 219px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 36px;
}

.car:hover {
    background-color: rgba(58, 56, 56, 0.8);
}

.percent:hover {
    background-color: rgba(58, 56, 56, 0.8);
}

.crown:hover {
    background-color: rgba(58, 56, 56, 0.8);
}

/* ---------------footer------------------ */

.footer {
    width: 100%;
}

.customer {
    width: 100%;
    height: 438px;
    background-image: url(img/customerInfo_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #ababab;
}

.customer__info {
    display: flex;
}

.customer__line {
    width: 1px;
    height: 438px;
    background-color: #ffffff;

}

.feedback {
    display: flex;
    margin-top: 111px;
    margin-right: 72px;
}

.feedback__text {
    margin-left: 28px;
}

.feedback__text_description {
    width: 386px;
    height: 68px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-bottom: 19px;
}

.feedback__text_name {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.feedback__text_city {
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #222224;
}

.feedback__line {
    display: flex;
    margin-top: 35px;
}

.feedback__line_grey {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.feedback__line_grey:hover {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    transition-duration: 0.3s;

}

.subscribe_upper {
    font-family: Lato;
    font-size: 24px;
    line-height: 54px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: center;
}

.subscribe_lower {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0.025em;
    color: #222224;
}

.subscribe__text {
    width: 300px;
    height: 80px;
    margin-left: 146px;
    margin-top: 125px;
}

.subscribe__field {
    display: flex;
    width: 385px;
    height: 46px;
    margin-left: 92px;
    margin-top: 55px;

}

.subscribe__field_mail {
    width: 334px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    overflow: hidden;
}

.subscribe__field_button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    overflow: hidden;

}

.sub_mail {
    border: none;
    background-color: #e1e1e1;
    height: 46px;
    margin-left: 20px;
    opacity: 0.67;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}

.sub_mail:focus {
    outline: none;
    color: black;
}

.sub_button {
    border: none;
    background-color: #f16d7f;
    height: 46px;
    width: 90px;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.sub_button:focus {
    outline: none;
}

.sub_button:hover {
    background-color: #CD5C5C;
    border-radius: 0px 23px 23px 0px;
    transition-duration: 0.3s;
}

.brand-text_p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    margin-bottom: 20px;
}

.footer__menu {
    display: flex;
    margin-top: 109px;
}

.footer__brand-text {
    width: 427px;
    height: 180px;
    margin-top: 25px;
    position: relative;

}

.footer__brand-text span {
    position: absolute;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    display: none;
}

.footer__brand-text:hover span {
    display: block;
    cursor: pointer;
    height: auto;
    background-color: white;
}

.menu_p {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-bottom: 30px;
}

.list-item a {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #898989;
}

.footerNav .list-item {
    list-style-type: none;
}

.footerNav .menu_p {
    list-style-type: none;
}

.menu_company {
    margin-right: 60px;

}

.menu_info {
    margin-right: 60px;
}

.footerNav a:hover {
    color: #f16d7f;
}

.footer__copy {
    width: 100%;
    height: 79px;
    background-color: #e6e6e6;
}

.copy_socials .socials-icon {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    align-items: center;

}

.copy {
    display: flex;
    justify-content: space-between;
}

.copy_rights {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    margin-top: 20px;
}

.socials-icon {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-left: 7px;
    transition-duration: 0.3s;
}

.fa-facebook-f {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    margin-top: 8px;
    transition-duration: 0.3s;
}

.fa-twitter {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    margin-top: 8px;
    transition-duration: 0.3s;
}

.fa-linkedin-in {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    margin-top: 8px;
    transition-duration: 0.3s;
}

.fa-pinterest-p {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    margin-top: 8px;
    transition-duration: 0.3s;

}

.fa-google-plus-g {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #b2b2b2;
    margin-top: 8px;
    transition-duration: 0.3s;

}

.fa-facebook-f:hover {
    color: white;
    transition-duration: 0.3s;
}

.fa-twitter:hover {
    color: white;
    transition-duration: 0.3s;
}

.fa-linkedin-in:hover {
    color: white;
    transition-duration: 0.3s;
}

.fa-pinterest-p:hover {
    color: white;
    transition-duration: 0.3s;
}

.fa-google-plus-g:hover {
    color: white;
    transition-duration: 0.3s;
}

.socials-icon:hover {
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

/*--------navigation-----------*/
.breadcrump {
    background-color: #f8f3f4;
    height: 148px;
}

.breadcrump__nav {
    display: flex;
    list-style-type: none;
}

.breadC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadcrumpH1 {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.breadcrump__nav_item {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

.breadcrump__nav_item a:hover {
    font-weight: 500;
    color: #f16d7f;
}

/*----------Shopping Cart-----------*/
.productsCart {
    margin-top: 90px;
    margin-bottom: 80px;
}

.productLine {
    display: flex;
    justify-content: space-between;
}


.productDetails {
    display: flex;
    width: 300px;
}

.productFeatures_header {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}

.productFeatures {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #656565;
}

.productDetails__description h2 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.productDetails__description p {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #575757;
}

.productDetails__description span {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #6f6e6e;
    margin-left: 5px;
}

.shoppingCart-line {
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #eaeaea;
}

.productDetails__photo {
    margin-right: 10px;
    height: 115px;
    transition-duration: 0.1s;
}

.productDetails__photo:hover {
    outline: 1px solid #c0c0c0;
    transition-duration: 0.1s;
}

.unitPrice {
    width: 150px;
    text-align: center;
}

.quantity {
    width: 150px;
    text-align: center;
}

.quantity {
    width: 150px;
    text-align: center;
}

.subtotal {
    width: 150px;
    text-align: center;
}

.action {
    width: 150px;
    text-align: center;
}

.quantity input {
    width: 30px;
    text-align: center;
    width: 54px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.quantity input:focus {
    outline: #c0c0c0;

}

.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.productFeatures {
    margin-top: 40px;
}

.fa-times-circle {
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0c0c0;
    transition-duration: 0.3s;
}

.fa-times-circle:hover {
    color: #f16d7f;
    transition-duration: 0.3s;
}

.shoppingCart__function {
    display: flex;
    justify-content: space-between;
}

.shoppingCart__function_clear {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    cursor: pointer;
    transition-duration: 0.3s;
}

.shoppingCart__function input {
    width: 235px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.shoppingCart__function_continue {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    cursor: pointer;
    transition-duration: 0.3s;
}

.shoppingCart__function button {
    width: 225px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.shoppingCart__function_clear:hover {
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

.shoppingCart__function_continue:hover {
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

.shippingAddress {
    width: 355px;
}

.shoppingCart__registration {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.shoppingCart__registration h2 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.shoppingCart__registration h2 span {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.shoppingCart__registration h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
}

.shippingAddress select {
    width: 345px;
    height: 45px;
}

.regField {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
    text-transform: capitalize;
    margin-top: 20px;


}

.regField:focus {
    color: black;

}

.selectCountry {
    color: black;

}


.shippingAddress .regField {
    width: 355px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.couponDiscount {
    width: 355px;
}

.grandTotal {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    text-align: right;
}

.selectCountry.regField {
    width: 355px;

}

input.regField {
    width: 355px;
    padding: 0;

}

.shippingAddress input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.submit {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #4a4a4a;
    cursor: pointer;
    transition-duration: 0.3s;
}

.submit:hover {
    background-color: #f16d7f;
    transition-duration: 0.3s;
}

.couponDiscount .regField {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
}

.couponDiscount h3 {
    margin-top: 35px;
}

.checkout {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.checkout:hover {
    background-color: #CD5C5C;
    transition-duration: 0.3s;
}

.grandTotal__line {
    width: 275px;
    height: 1px;
    background-color: #e2e2e2;
    margin-bottom: 17px;
    margin-left: 45px;
}

.grandTotal h3 {
    margin-top: 35px;
    margin-right: 40px;
}

.grandTotal h2 {
    margin-right: 40px;
}

/*---------Single Page----------*/

.singlePage__photo {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
}

.singlePage__photo_angle {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 365px;
    transition-duration: 0.3s;
}

.singlePage__photo_angle:hover {
    background-color: grey;
    transition-duration: 0.3s;
}

.singlePage__photo_angle a {
    width: 47px;
    height: 47px;
}

.fa-angle-left {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.fa-angle-right {
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.women {
    height: 1300px;
    margin-bottom: 79px;
}

.womenCollection {
    margin: 0 auto;
    height: 730px;
    width: 1140px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    position: relative;
    margin-top: -50px;
}

.womenCollection__inf {
    width: 620px;
    text-align: center;
    margin: 0 auto;
    margin-top: 73px;
}

.womenCollection__inf h2 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
}

.women__greyline_short {
    width: 147px;
    height: 0.3px;
    background-color: #eaeaea;
    border: 0.3px solid #eaeaea;
    margin-left: 235px;
    position: absolute;
}

.women__redline {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    margin-left: 280px;
    position: relative;

}

.womenCollection__inf h1 {
    font-family: Lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin-top: 50px;
}

.womenCollection__inf p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
}

.womenCollection__inf .description_h2 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
}

.description_h2 span {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}


.womenCollection__inf .womenCollection_cost {
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
    margin-top: 20px;
    margin-bottom: 43px;
}

.women__line_long {
    width: 642px;
    height: 0.5px;
    background-color: #eaeaea;
    border: 0.5px solid #eaeaea;
}

.colorRed {
    background: url(img/singlePage_red.png) no-repeat;
    background-size: 12px;
    background-position: 0 1px;
}

.chooseAndAdd {
    width: 537px;
    margin: 0 auto;
}

.choose {
    display: flex;

    margin-top: 63px;
    margin-bottom: 15px;
}

.choose p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
    margin-right: 80px;
}

.quantityP {
    margin-left: 20px;
}

.womenCollection__inf form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productColor {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding-left: 15px;
}

.productSize {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding-left: 15px;
}

.productQuantity {
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding-left: 15px;
}

.productQuantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*стилизация стрелки*/
.productColor::-ms-expand {
    color: #eaeaea;
}

.productSize::-ms-expand {
    color: #eaeaea;
}

.womenCollection__inf button {
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    margin-top: 28px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.womenCollection__inf button img {
    margin-right: 15px;
}

.womenCollection__inf button:hover {
    background-color: #CD5C5C;
    transition-duration: 0.3s;

}

.singlePage_like {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    margin-top: 219px;
    margin-bottom: 72px;
}

.products__like {
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
    transition-duration: 0.3s;
}

.photo_like {
    width: 261px;
    height: 280px;
    background-color: #e9e9e9;
    text-align: center;
}

.product_like-name {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin-left: 15px;
}

.product_like-price {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin-left: 15px;
}

.product_like:hover {
    outline: 1px solid #eaeaea;
    box-shadow: 0 0 15px #a4a4a4;
    transition-duration: 0.3s;
}

/*----------Product----------*/

.products {
    display: flex;
    margin-top: 59px;
}

.product__category_upper {
    display: flex;
    width: 215px;
    height: 37px;
    border-left-color: #ef5b70;
    border-left-width: 5px;
    border-left-style: solid;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 15px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ef5b70;
    align-items: center;
    justify-content: space-between;
}

.fa-caret-up {
    cursor: pointer;
}

.category__list {
    list-style-type: none;

}

.category_item a {
    font-family: Lato;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
    transition-duration: 0.3s;
}

.category_item a:hover {
    color: #ef5b70;
    transition-duration: 0.3s;
}

.product__category_lower {
    display: flex;
    width: 215px;
    height: 37px;
    border-left-color: #ef5b70;
    border-left-width: 5px;
    border-left-style: solid;
    border-bottom-color: #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 15px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    align-items: center;
    margin-top: 18px;
    justify-content: space-between;
}

.fa-caret-down {
    cursor: pointer;
}

.features__trending h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}

.features__trending_type {
    width: 176px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;

}

.features__trending_type a {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    transition-duration: 0.3s;
}

.features__trending_type span {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #dfdfdf;
}

.features__trending_type a:hover {
    color: #ef5b70;
    transition-duration: 0.3s;
}

.products__list_features {
    display: flex;
    justify-content: space-between;
    width: 846px;
}

.features_sizebox {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.features_sizebox input {
    margin-left: 20px;
    margin-right: 7px;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;

}

.features_sizebox input:first-child {
    margin-left: 0;
}

.features_sizebox input:nth-child(5) {
    margin-left: 0;
}

.features_size h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}

.features_price h3 {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}

.numberRange {
    width: 262px;
    display: flex;
    justify-content: space-between;
}

.features_price input {
    width: 262px;
}

.products__list {
    width: 846px;
    margin-left: 56px;
}

.sorting {
    width: 846px;
    height: 50px;
    background-color: #f3f3f3;
    margin-top: 40px;
    margin-bottom: 48px;
    display: flex;
    align-items: center
}

.sort {
    width: 153px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    display: flex;
    margin-left: 10px;
    align-items: center;

}

.show {
    width: 119px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    display: flex;
    margin-left: 10px;
    align-items: center;

}

.sort__sortBy {
    border-right: 1px solid #ebebeb;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    width: 60px;
    height: 30px;
    text-align: center;
}

.sort__name {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    text-align: center;
    width: 95px;
    height: 30px;
}

.sort__name .fa-caret-down {
    margin-left: 25px;
}

.product__pagination_left {
    width: 261px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.product__pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.pagination_left {
    display: flex;
    list-style-type: none;
    width: 215px;
    height: 13px;
    padding: 0;
    justify-content: space-between;
    margin-top: 10px;


}

.pagination_list .fa-angle-left {
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #aaaaaa;
    transition-duration: 0.3s;
}

.pagination_list .fa-angle-left:hover {
    color: #ef5b70;
    transition-duration: 0.3s;
}

.pagination_list .fa-angle-right {
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #aaaaaa;
    transition-duration: 0.3s;
}

.pagination_list .fa-angle-right:hover {
    color: #ef5b70;
    transition-duration: 0.3s;
}

.pagination_left li a {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #c4c4c4;
    transition-duration: 0.3s;
}

.pagination_left li a:hover {
    color: #ef5b70;
    transition-duration: 0.3s;
}

.pagination_left li {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #c4c4c4;
}

.product__pagination_right {
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    border-radius: 3px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #ef5b70;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #ef5b70;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.product__pagination_right:hover {
    background-color: #f16d7f;
    color: #ffffff;
    transition-duration: 0.3s;
}

.product__offers {
    width: 100%;
    height: 341px;
    background-color: #222224;

}

.product {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 90px;
}

.product__offers_class h1 {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.product__offers_class p {
    font-family: Lato;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    width: 310px;
}

/*----------Checkout----------*/

.checkout__info {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    color: #222222;
    margin-top: 85px;

}

.registration {
    display: flex;
    margin-bottom: 85px;
}

.registration__checkin {
    margin-left: 25px;
    margin-right: 300px;
}

.registration__checkin h2 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    margin-top: 35px;
}

.registration__checkin h3 {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    margin-bottom: 30px;

}

.registration__checkin p {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;

}

.registration__checkin h4 {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    transition-duration: 0.3s;

}

.registration__checkin h4:hover {
    color: #f16d7f;
    transition-duration: 0.3s;
}

#loginButton {
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    color: #4a4a4a;
    cursor: pointer;
    transition-duration: 0.3s;
    margin-top: 30px;
}

#loginButton:hover {
    background-color: #f16d7f;
    color: #fff;
}

.registration__registered h2 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    margin-top: 35px;
}

.registration__registered h3 {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
}

.registration__registered p {
    font-family: Lato;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #222222;
    margin-top: 24px;
    margin-bottom: 15px;
}

.registration__registered span {
    font-family: Lato;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;

}

.registration__registered h1 {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
    margin-bottom: 20px;
}

.registration__registered input {
    width: 390px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 20px;
}

.forgotPass a {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #222222;
    margin-left: 32px;
    transition-duration: 0.3s;
}

.forgotPass a:hover {
    color: #f16d7f;
    transition-duration: 0.3s;
}

.checkout__line {
    width: 1140px;
    height: 1px;
    background-color: #e8e8e8;
}

.checkout__info2 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout__line:last-child {
    margin-bottom: 90px;
}
