html, body {
    height: 100%;
    margin: 0; padding: 0;
}

body, input[value], input:checked+span {
    background: #CBFFB8;
    border-radius: 4px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #f8f8f8; 
  	padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
}

header {
    height: 46px;
    background-image: url(../images/green-tea.jpg);
    border-bottom: 2px solid gainsboro;
    position: relative;
    box-shadow: 3px 3px 3px #ccc;
}

.content {
    flex: 1 0 auto;
}

ul.menu {
    padding: 5px 5px 0 0;
    float: right;
}

ul {
    padding: 0; margin: 0;
    font: 14px Verdana;
    display: block;
    list-style: none;
}

ul.menu>li {
    float: left;
    position: relative;
}

ul.menu>li>a {
    padding: 10px;
    color: green;
    background-color: gainsboro;
    text-decoration: none;
    float: left;
    position: relative;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover {
    background-color:darkolivegreen;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    z-index: 2;
}

ul.submenu>li>a {
    display: block;
    padding: 6px 10px;
    color: green;
    background-color: gainsboro;
    text-decoration: none;
    border-bottom: 2px solid gainsboro;
    opacity: 0.92;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

.menu li a:hover {
    color: limegreen;
}

.submenu li a:hover {
border-bottom: 2px solid green;   
}

#logotip {
    float: left;
    margin: 6px; padding: 0;
    position: absolute;
}

.croshki {
    padding-top: 8px;
}
.croshki a {
    color: green;
}

.croshki a:hover {
    text-decoration: none;
}

h1,h2,h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.kratko {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-shadow: 3px 5px 3px #DDFDD3;
}

.podrobno {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-shadow: 3px 5px 3px #DDFDD3;
}

.harakteristiki {
    color: dimgray;
    font-size: 14px;
    font-style: oblique;
    line-height: 20px;
}

.harakteristiki a {
    color: inherit;
}

.harakteristiki ol {
    background-position: left;
    list-style-image: url(../images/marker-tea.jpg);
}

.harakteristiki a:hover {
    color: green;
    font-size: 18px;
}

fieldset {
    width: 480px;
    font-size: 20px;
    height: 310px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 200px;
    height: auto;
    color: black;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
    background-color:gainsboro;
    color: darkolivegreen;
}

textarea {
    width: 380px;
    max-width: 960px;
    resize: horizontal;
}

textarea, input[placeholder] {
    padding: 3px;
}

textarea, input:first-of-type {
    text-transform: capitalize;
}

input[value]:enabled:hover {
    font-size: 1.1em;
}

#contact {
    font-size: 24px;
}

.sign img, .signimg img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.signimg {
    float: left;
    margin: 0 10px 0 0; 
    border-radius: 10px;
}

.sign {
    float: left;
    /* Выравнивание по левому краю */
    outline: 1px solid green;
    /* Параметры рамки */
    padding: 5px;
    /* Поля внутри блока */
    margin: 0 0 5px 5px;
    /* Отступы вокруг */
    background: #f0f0f0;
    /* Цвет фона */
    width: 480px;
    height: auto;
}

div.sign form {
    float: right;
    position: relative;
    left: -50px;
    top: -15px
}

div.sign form input[value]:active, .signimg input[value]:active {
    color: red;
}

.sign:hover {
    outline: 0;
}

.sign a {
    color: green;
    text-decoration: none;
}

.sign figcaption a:hover {
    border-bottom: 2px solid green;
}

.sign figcaption:first-letter {
    font-size: 20px;
    font-family: serif;
    font-weight: 500;
}

table {
    border: 1px solid #000;
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;
}

thead td:first-child {
    border-top-left-radius: 10px;
}

thead td:last-child {
    border-top-right-radius: 10px;
}

table td[rowspan]:first-of-type {
    border-bottom-left-radius: 10px;
}

table td[rowspan]:last-of-type {
    border-bottom-right-radius: 10px;
}

td {
    border: 1px solid #000;
    padding: 4px;
}

thead {
    text-align: center;
    background: #eaeaea;
}

footer {
    background-color: springgreen;
    height: 46px;
    text-align: right;
    clear: both;
    position: relative;
    flex: 0 0 auto;
    box-shadow: 3px 3px 3px limegreen;
}

footer p {
    position: absolute;
    right: 30px;
    top: -2px;
}
