# IntellijIdea files
**/.idea

# Нод модули во всех каталогах
**/node_modules

# Компоненты Bower
**/bower_components/

# Дополнительно:
#**/dist
#**.DS_Store
#**/*.pyc
#**/.vs/
#**/.idea
#**/.vscode

# Кэши сасс файлов и пайчарма
**/.sass-cache
**/__pycache__

# локальные файлы, использовались для секретов, но теперь они вне проекта
#**/local__*

# База данных
**/db.sqlite3

# Миграции
**/migrations

# Виртуальное окружение проекта
**/env
**/venv
**/virtualenv
**/environment
**/virtual_environment
**/venv_3_8
**/venv38
**/venv_3_9
**/venv39