<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework 5</title>
</head>
<body>
<div id="root">
    <label>
        <input type="text" v-model="searchLine"/>
        <span @click="filterGoods">search</span>
    </label>

    <div v-if="isVisibleCart">cart</div>
    <div v-show="isVisibleCart">cart</div><!-- toggle display -->

    <span @click="isVisibleCart = !isVisibleCart">toggle cart</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="homework_5.js"></script>
</body>
</html>